html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea {
  border: none;
  margin: 0;
  padding: 0;
  resize: none;
  background: none;
  -webkit-appearance: none;
}

input:focus, textarea:focus {
  outline: none;
}

a {
  display: block;
  font-size: inherit;
}

button {
  font-size: inherit;
}

/* vars */
:root {
  /* typography */
  --font-primary: sans-serif;
  --font-secondary: serif;

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

   /* type scale */
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-2xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-3xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  /* SPACING */
  --spacing-3xs: 0.125rem;
  --spacing-2xs: 0.25rem;
  --spacing-xs:  0.5rem;
  --spacing-s:   1rem;
  --spacing-m:   2rem;
  --spacing-l:   4rem;
  --spacing-xl:  8rem;
  --spacing-2xl: 16rem;
  --spacing-3xl: 32rem;
  --spacing-4xl: 64rem;

  /* borders */
  --border-0: 0px;
  --border-2: 2px;
  --border-4: 4px;
  --border-8: 8px;
  --border: 1px;

  /* border radius */
  --rounded-none: 0;
  --rounded-sm: 0.125rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 9999px;

  /* SHADOWS */
  --shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  /* COLORS */
  --blue: #109cf1;
  --dark-blue: #384D6C;
  --yellow: #ffbb46;
  --red: #f76b58;
  --green: #67D083;
  --purple: #8060EF;
  --black: #1D2A3C;
  --dark-gray: #343C46;
  --gray: #727682;
  --light-gray: #eee;
  --white: #fff;
  --light-purple: rgb(128, 96, 239, 0.2);

  /* SIZES */
  --size-4: 0.5rem;
  --size-5: 1.0rem;
  --size-6: 1.5rem;
  --size-7: 2.0rem;

  /* WIDTHS */
  --width-xs: 20rem;
  --width-sm: 24rem;
  --width-md: 28rem;
  --width-lg: 32rem;
  --width-xl: 48rem;
  --width-2xl: 64rem;
}

html, body {
  height: 100%;
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
}

h1, h2, h3, h4, form legend {
  line-height: var(--heading-line-height);
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

h5 {
  font-size: var(--text-md);
}

small {
  font-size: var(--text-sm);
}

p {
  line-height: var(--body-line-height);
  font-size: clamp(16px, 1.5vw, 32px);
}

input[type="hidden"], [hidden] {
  display: none;
}

.hstack {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spacer {
  flex: 1;
}

.vstack.spacing.xxs > * {
  margin-bottom: var(--spacing-2xs);
}

.vstack.spacing.xs > * {
  margin-bottom: var(--spacing-xs);
}

.vstack.spacing.sm > * {
  margin-bottom: var(--spacing-s);
}

.vstack.spacing.md > * {
  margin-bottom: var(--spacing-m);
}

.vstack.spacing > *:last-child {
  margin-bottom: 0;
}

.hstack.spacing.xs > * {
  margin-right: var(--spacing-xs);
}

.hstack.spacing.sm > * {
  margin-right: var(--spacing-s);
}

.hstack.spacing > *:last-child {
  margin-right: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  border: solid 1px var(--gray);
  padding: var(--spacing-s);
  display: block;
  border-radius: var(--rounded-lg);
  font-size: var(--font-size-lg);
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border-color: var(--purple);
  box-shadow: var(--shadow);
}

fieldset {
  margin: 0;
  padding: 0;
  padding: var(--spacing-xs);
  position: relative;
  border: solid 1px var(--light-gray);
  border-radius: var(--rounded-lg);
}

fieldset label {
  font-size: var(--text-sm);
  color: var(--gray);
}

fieldset:focus-within {
  border-color: var(--purple);
  box-shadow: var(--shadow);
}

fieldset:focus-within label {
  color: var(--purple);
}

fieldset input[type="text"],
fieldset input[type="email"],
fieldset input[type="password"],
fieldset input[type="number"] {
  border: none;
  padding: 0;
}

fieldset input[type="text"]:focus,
fieldset input[type="email"]:focus,
fieldset input[type="password"]:focus,
fieldset input[type="number"]:focus {
  border: none;
  box-shadow: none;
}

fieldset legend {
  padding: 0;
  margin: 0;
  position: absolute;
  top: var(--spacing-xs);
  left: var(--spacing-xs);
  color: var(--gray);
  font-size: var(--text-sm);
}

fieldset select {
  outline: none;
  border: none;
  -webkit-appearance: none;
}

fieldset select:active {
  -webkit-appearance: none;
}

button, .button {
  border: none;
  border-radius: var(--rounded-lg);
  color: var(--white);
  background-color: var(--purple);
  padding: var(--spacing-s);
  display: block;
  box-shadow: var(--shadow);
  cursor: pointer;
}

button.lg, .button.lg {
  padding: var(--spacing-s);
  font-size: var(--text-md);
}

button:hover {
  background-color: var(--dark-blue);
}

.w_sm {
  width: var(--width-sm);
}

.field:focus-within label {
  color: var(--purple);
}

.error {
  color: var(--red);
}

a, .link {
  text-decoration: none;
  color: var(--purple);
}

.link {
  font-size: inherit;
  cursor: pointer;
}

a.button:hover {
  text-decoration: none;
}

.px_sm {
  padding: 0 var(--spacing-s);
}

.py_md {
  padding: var(--spacing-m) 0;
}

.container {
  max-width: var(--width-2xl);
}

.mx_auto {
  margin: 0 auto;
}

.w_full {
  width: 100%;
}

.mt_lg {
  margin-top: var(--spacing-l);
}

.mt_2xl {
  margin-top: var(--spacing-2xl);
}

.text_center {
  text-align: center;
}

.justify_right {
  justify-content: flex-end;
}

.w_fit_content {
  width: fit-content;
}

.max_w_xl {
  width: var(--width-xl);
}

.w_xs {
  width: var(--width-xs);
}

th, td {
  text-align: left
}

.space_between {
  justify-content: space-between;
}

.shadow {
  box-shadow: var(--shadow);
}

.blue {
  color: var(--blue);
}

.gray {
  color: var(--gray);
}

.p_md {
  padding: var(--spacing-m);
}

.p_sm {
  padding: var(--spacing-s);
}

.border_right {
  border-right: solid 1px;
}

.border_light_gray {
  border-color: var(--light-gray);
}

.card {
  border: solid 1px var(--light-gray);
  border-radius: var(--rounded-lg);
}

.margin_right_xs {
  margin-right: var(--spacing-xs);
}

@media (max-width: 480px) {
  .container {
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
  }
}

.main {
  display: grid;

  grid-template-areas:
    "nav header"
    "nav content";

  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}

header {
  grid-area: header;
}

nav {
  height: 100vh;
  position: fixed;
  width: 200px;
  grid-area: nav;
}

.content {
  grid-area: content;
}

nav a, nav .link {
  color: var(--dark-gray);
  text-decoration: none;
}

nav a.active, nav .link.active {
  color: var(--white);
  background-color: var(--purple);
}

nav button.link {
  border: none;background: none;box-shadow: none;width: 100%;
}

.purple {
  color: var(--purple);
}

.bg_light_purple {
  background-color: var(--light-purple);
}

table {
  border-collapse: collapse;
  box-shadow: var(--shadow);
  border-radius: var(--rounded-md);
}

thead {
  background-color: var(--purple);
  color: var(--white);
}

th, td {
  padding: var(--spacing-s);
}

tr:nth-child(even) {
  background-color: var(--light-gray);
}

tr:hover {
  background-color: var(--light-purple);
}

thead th:first-child {
  border-top-left-radius: var(--rounded-md);
}

thead th:last-child {
  border-top-right-radius: var(--rounded-md);
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--rounded-md);
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--rounded-md);
}

.badge {
  padding: var(--spacing-xs);
  border-radius: var(--rounded-lg);
}

.green {
  color: var(--green);
}

#deals-by-stage tbody {
  overflow-y: hidden;
}

#deals-by-stage tbody th {
  background-color: #fff;
  z-index: 1;
}

#deals-by-stage tbody td {
  animation: moving-bars 4s ease-in;
}

@keyframes moving-bars {
  0%  { transform: translateY( 100% ); }
  15% { transform: translateY( 0 ); }
}

#deals-by-stage.bar {
  --labels-size: 200px;
}

@media (max-width: 768px) {
  .main {
    grid-template-areas:
      "header"
      "content";

    grid-template-columns: 1fr;

    grid-template-rows:
      auto /* Header */
      1fr /* Content */
  }

  nav {
    visibility: collapse;
    height: 0;
  }
}
